@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <section class="hero">
        <h1>Střední Průmyslová Ariho Škola Trutnov</h1>
        <p>Fine dining zážitek, kde se tradice setkává s moderní gastronomií.</p><br>
        <p>Špičkové technické vzdělání, kde se tradice setkává s moderními technologiemi.</p>
    </section>

    <section>
        <h2>O nás</h2>
        <p>
            Jsme Střední průmyslová škola Trutnov, vzdělávací instituce s dlouholetou tradicí, která připravuje studenty
            na úspěšnou kariéru v technických a odborných oborech. Naším cílem je efektivně propojit teoretické znalosti
            s praktickými dovednostmi, které plynule reagují na moderní požadavky aktuálního průmyslu a technologií. Nabízíme
            špičkové zázemí, moderně vybavené učebny, laboratoře a dílny, kde si studenti mohou v praxi vyzkoušet práci s
            nejnovějšími inovacemi v elektrotechnice, informačních technologiích a strojírenství. Zakládáme si na profesionálním
            a partnerském přístupu, podpoře talentu a úzké spolupráci s významnými firmami v regionu. To našim absolventům
            zajišťuje nejen skvělé uplatnění na trhu práce ihned po maturitě, ale také perfektní startovací pozici pro případné
            další studium na vysokých školách.
        </p>
        
        <h3>Proč k nám přijít?</h3>
        <ul>i>
            <li>Moderní technické vybavení, laboratoře a dílny</li>
            <li>Úzká spolupráce s oborovými partnery a firmami v regionu</li>
            <li>Vysoká úspěšnost absolventů na trhu práce i na vysokých školách</li>
        </ul>

        <img src="/obrazky/skolni-101.jpg" alt="Školní 101" class="content-img">
    </section>
</div>
