<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - stranky_skoly</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stranky_skoly.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container header-flex">
            <img src="~/obrazky/logo_web.png" alt="logo sps Trutnov" class="logo" />

            <nav>
                <ul class="menu">
                    <li><a asp-controller="Home" asp-action="Index">Úvod</a></li>
                    <li><a asp-controller="User" asp-action="Přihlášení">Přihlášení</a></li>
                    <li><a asp-controller="User" asp-action="Registrace">Registrace</a></li>
                </ul>
            </nav>
        </div>  
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <div class="container">
            <p>© 2026 Střední průmyslová škola Trutnov</p>
            <p>
                <a href="https://www.instagram.com/spstrutnov">Instagram</a> |
                <a href="https://www.facebook.com/St%C5%99edn%C3%AD%20pr%C5%AFmyslov%C3%A1%20%C5%A1kola,%20Trutnov,%20%C5%A0koln%C3%AD%20101%20(SP%C5%A0%20Trutnov)">Facebook</a>
            </p>
        </div>
    </footer>

</body>
</html>

